<?xml version="1.0"?>

<model>
  <name>skuid</name>
  <version>0.1.0</version>
  <sdf version="1.0">skuid.sdf</sdf>

  <author>
    <name>Renzo Bruzzone</name>
    <email>bruzzonecozzarelli@gmail.com</email>
  </author>


  <maintainer email="bruzzonecozzarelli@gmail.com">Renzo Bruzzone</maintainer>


  <description>
    skuid robot model to work in Ignition simulator
  </description>
</model>
